<div class="mx-24 my-12">

   <div class="flex justify-end items-center mb-8">
    <div class="relative text-indigo-800 bg-white w-56  mx-5">
     
        <input (keyup)="applyFilter($event)" placeholder="Ex. Product Name" #input class="w-60 py-2 pr-12 text-sm focus:outline-none focus:ring-white  shadow-lg border-none  bg-white rounded-md pl-5  "  >
       <span class="absolute inset-y-0 right-0 flex items-center ">
              <mat-icon>search</mat-icon>
        </span>
      </div>

      <div class="mx-2">
        <button class="flex  items-center px-5 py-2 font-medium text-sm  text-white  transition-colors duration-200 transform bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none">
           
            <span class="mx-1 text-sm">New</span>
            <mat-icon>add</mat-icon>
        </button>
      </div>
   </div>
      
      <div class="mat-elevation-z3 w-[100%]">

        <table mat-table  [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8 w-[100%]">
       <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
        <td mat-cell *matCellDef="let row;let i = dataIndex;"> {{i + 1}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
        <td mat-cell *matCellDef="let row"> {{row.category}} </td>
      </ng-container>
  
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
        <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
      </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="product_detail"
           [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
      <app-product-details [product]="element"></app-product-details>
          <!-- {{element.description}} -->
       
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="product_row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
      
        <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
</div>
