.mat-chip.mat-standard-chip {
    background-color: rgb(99 102 241) !important;
    color: rgba(255, 255, 255);
}

.mat-chip-remove .mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
    color: #ffffff;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #3f51b5;
}

.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
    color: rgb(0 0 0);
}

.mat-chip.mat-standard-chip.mat-chip-disabled {
    opacity: 1;
}

.show {
    display: flex;
}

.hide {
    display: none;
}