<div class="mx-8 my-3">

    <h3 class="text-lg">Add Image</h3>

    <form class="my-3 "  [formGroup] = "addImageForm" (ngSubmit)="addImage()" novalidate>
        <div class="flex justify-center " *ngIf="preview && preview !== null">
            <div class="text-center">
                <img [src]="preview" class="w-[200px]">
            <p class="mt-5">Image Preview</p>
            </div>
          </div>
        <div class="w-[100%] my-8 flex justify-center items-center gap-4">
            
          <div class="flex justify-center ">
            <div class="max-w-2xl rounded-lg shadow-xl bg-gray-50">
                <div class="m-4">
   
                    <div class="flex items-center justify-center w-full">
                        <label
                            class="flex flex-col w-full h-32 border-4 border-blue-200 border-dashed hover:bg-gray-100 hover:border-gray-300">
                            <div class="flex flex-col items-center justify-center pt-7">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-gray-400 group-hover:text-gray-600"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                                </svg>
                                <p class="pt-1 text-sm tracking-wider text-gray-400 group-hover:text-gray-600">
                                    Upload Image</p>
                            </div>
                            <input type="file" accept="image/*"  class="opacity-0"  (change)="uploadFile($event)"/>
                        </label>
                    </div>
                </div>
                
            </div>
        </div> 
  

  <mat-form-field appearance="outline">
    <mat-label>Select Color</mat-label>
    <mat-select formControlName="color" name="color">
        <mat-option value="null">
            null
          </mat-option>
      <mat-option *ngFor="let color of colors" [value]="color">
        {{color}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
        </div>

        <button type="submit" class="mx-auto mb-12 flex  items-center px-5 py-2 font-medium text-sm  text-white  transition-colors duration-200 transform bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none">Upload Image</button>
    </form></div>